In [5]:
from collections import defaultdict
import logging

In [6]:
class BySubjectGradebook:
    def __init__(self):
        self._grades = {}
    
    def add_student(self, name):
        self._grades[name] = defaultdict(list)
    
    def report_grade(self, name, subject, grade):
        by_subject = self._grades[name]
        print(by_subject)
        grade_list = by_subject[subject]
        print(grade_list)
        grade_list.append(grade)
    
    def average_grade(self, name):
        by_subject = self._grades[name]
        total, count = 0, 0
        for grades in by_subject.values():
            total += sum(grades)
            count += len(grades)
        return total / count

In [7]:
book = BySubjectGradebook()
book.add_student('알버트 아인슈타인')
book.report_grade('알버트 아인슈타인', '수학', 75)
book.report_grade('알버트 아인슈타인', '수학', 65)
print(book.average_grade('알버트 아인슈타인'))

defaultdict(<class 'list'>, {})
[]
defaultdict(<class 'list'>, {'수학': [75]})
[75]
70.0

In [8]:
a = {'1': 3}
a['1'] = 5

print(a)

{'1': 5}

In [10]:
class InputData:
    def read(self):
        raise NotImplementedError

class PathInputData(InputData):
    def __init__(self, path):
        super().__init__()
        self.path = path

pid = PathInputData('./c')

In [11]:
pid

In [1]:
import numpy as np

a = np.array([1,2,3])
print(a.shape)
print(np.array(a).shape)

(3,)
(3,)

In [1]:
import numpy as np

In [40]:
import copy

def addNumpy(np_list, list_):
    tp_list = np_list.copy()
    # tp_list[1] = 5
    # np_list[3] = 5
    list_ = copy.deepcopy(list_)
    list_[3] = 5

In [41]:
np_list = np.array([6,7,8,9,10])
list_ = [1,2,3,4,5]

addNumpy(np_list, list_)

print(np_list)
print(list_)

[ 6  7  8  9 10]
[1, 2, 3, 5, 5]

In [6]:
import pickle
import gzip

with gzip.open('./normal_area.pkl', 'r') as f:
    data = pickle.load(f)
data[111131]

,YYYYMMDDHH,AREA_INDEX,TIME_INDEX,PM10,PM10_RFLAG,PM25,PM25_RFLAG,O3,O3_RFLAG,CO,CO_RFLAG,SO2,SO2_RFLAG,NO2,NO2_RFLAG,NO,NO_RFLAG,NOX,NOX_RFLAG
0,2016040101,111131,2184,40.0,NaN,24.0,NaN,0.002,NaN,0.9,NaN,0.006,NaN,0.075,NaN,0.054,NaN,0.129,NaN
1,2016040102,111131,2185,42.0,NaN,24.0,NaN,0.002,NaN,0.9,NaN,0.006,NaN,0.075,NaN,0.070,NaN,0.145,NaN
2,2016040103,111131,2186,42.0,NaN,25.0,NaN,0.002,NaN,0.9,NaN,0.006,NaN,0.073,NaN,0.050,NaN,0.123,NaN
3,2016040104,111131,2187,44.0,NaN,25.0,NaN,0.002,NaN,1.1,NaN,0.005,NaN,0.072,NaN,0.069,NaN,0.141,NaN
4,2016040105,111131,2188,42.0,NaN,29.0,NaN,0.003,NaN,0.9,NaN,0.005,NaN,0.063,NaN,0.023,NaN,0.086,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32875,2019123119,111131,35058,14.0,NaN,14.0,NaN,0.016,NaN,0.4,NaN,0.003,NaN,0.021,NaN,0.005,NaN,0.026,NaN
32876,2019123120,111131,35059,16.0,NaN,13.0,NaN,0.016,NaN,0.4,NaN,0.003,NaN,0.021,NaN,0.005,NaN,0.026,NaN
32877,2019123121,111131,35060,17.0,NaN,12.0,NaN,0.013,NaN,0.4,NaN,0.003,NaN,0.024,NaN,0.007,NaN,0.031,NaN
32878,2019123122,111131,35061,17.0,NaN,14.0,NaN,0.008,NaN,0.4,NaN,0.003,NaN,0.026,NaN,0.005,NaN,0.031,NaN
32879,2019123123,111131,35062,15.0,NaN,15.0,NaN,0.007,NaN,0.4,NaN,0.002,NaN,0.025,NaN,0.004,NaN,0.029,NaN